<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lonely Heart Club</title>

    <link rel="stylesheet" href="style.css">

    
        <script src="index.js" charset="utf-8" defer></script>
</head>
<body>

    <header>
        <!--   If we are going to have logo, change here
              <div class="logo-image">
                <img src="logo.jpg" alt="logo">
              </div>    -->

        <h1 class="site-title"><a href="#">Lonely Heart Club</a></h1>

    </header>

    {{{body}}}

</body>
</html>
